.login {
  background-image: url(../../../img/avenger.jpg);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  
}

button {
  background-color: #1808fb!important;
}

.box-container {
  width: 50%;
  margin: 2rem auto;
  padding: 1.5rem;
  margin-top: 0%;
  padding-top: 5%;
  padding-bottom: 5%;

  mat-form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
