mat-toolbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1808fb;
}

mat-toolbar a {
  text-decoration: none;
  color: #ffde06;
}
